@charset "UTF-8";

/* Paleta de cores
    Verde: ##8ec5c3
    Lilas: ##ac82c8
 */

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body, html {
    background-color: #5f2c82;
    height: 100%;
    width: 100%;
 }

 main {
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.321);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
 }

 section#login > div#imagem  {
   display: block;
   background: #5f2c82 url('../imagens/fundo-cortado.png') no-repeat;
   background-size: cover;
   background-position: center top;
   height: 200px;
 }

 section#login > div#formulario {
   display: block;
   padding: 10px;
 }

 div#formulario > h1 {
   text-align: center;
   margin-bottom: 10px;
 }

 div#formulario > p{
   font-size: 0.8em;
   margin-bottom: 10px;
 }

 form > div.campo {
   background-color: #ac82c8;
   border: 3px solid #ac82c8;
   display: block;
   width: 100%;
   height: 40px;
   border-radius: 8px;
   margin: 5px 0px;
 }

 div.campo label {
   display: none;
 }

 div.campo > span {
   color: white;
   font-size: 1.5em;
   width: 40px;
   padding: 5px;
 }

 div.campo > input {
  position: relative;
   background-color: #8abebe;
   font-size: 1em;
   width: calc(100% - 44.5px);
   transform: translateY(-5px);
   height: 100%;
   border-radius: 8px;
   padding: 4px;
   border: 0px;
 }

 form > input[type=submit] {
   display: block;
   margin-top: 10px;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #8ec5c3;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 div.campo >input:focus-within{
   background-color: white;

   outline: none;
 }

  form > input[type=submit]:hover {
   background-color: #7cabaa;
  }

  form > a.botao {
   display: block;
   text-align: center;
   font-size: 1em;
   height: 40px;
   width: 100%;
   padding-top: 7px;
   margin-top: 5px;
   background-color: white;
   color: #658c8b;
   border: 1px solid #8ec5c3;
   border-radius: 5px;
   text-decoration: none;
  }

  form > a.botao:hover {
   background-color: #d0ebe9;;
  }

  form > a.botao > i {
   font-size: 0.8em;
  }